<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags  -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />

    <title><%= title %></title>
    <link rel="icon" type="image/png" href="../images/sim/Icon PNG2.png" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../../css/output.css" />
    <link rel="stylesheet" href="../../css/custom.css" />
    <link rel="stylesheet" href="../../css/app.css" />
    <link rel="stylesheet" href="../../css/pond.css" />
    <link
      href="https://unpkg.com/filepond@5.0.12/dist/filepond.min.css"
      rel="stylesheet"
    />

    <!-- Javascript Assets -->
    <script src="../../js/app.js" defer></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/w3.js"></script>
    <script src="../../js/moment.js"></script>
    <script src="../../js/checktoken.js"></script>
    <script src="../../js/module/global.js"></script>
    <!-- <script src="../js/module/global.js"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    x-data="yourComponent()"
    x-init="initFilePond"
    class="has-min-sidebar is-sidebar-open is-header-blur"
    x-bind="$store.global.documentBody"
  >
    <!-- App preloader-->
    <div
      class="app-preloader fixed z-50 grid h-full w-full place-content-center bg-slate-50 dark:bg-navy-900"
    >
      <div class="app-preloader-inner relative inline-block h-48 w-48"></div>
    </div>

    <!-- Page Wrapper -->
    <div
      id="root"
      x-data=""
      class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900"
      x-cloak
    >
      <script>
        var jsonData = JSON.parse(localStorage.getItem("previewAllArray"));
        console.log("TTTTTTTTTTTTTTTTTTTTTTTT");
        console.log(JSON.parse(localStorage.getItem("previewAllArray")));
      </script>

      <!-- Main Content Wrapper -->
      <!-- <main x-data x-text="mainData.title" class=" filemanager-app w-full pb-6" > -->

      <main x-data="{ jsonData: jsonData}" class="filemanager-app w-full pb-6">
        <div><%- include('../../../includes/notifications.ejs') %></div>

        <div class="prev_form pb-4 sm:px-5 grid place-content-center">
          <!-- Form Header -->
          <div><%- include('./../formHeader.ejs') %></div>

          <div class="max-w-2xl md:w-[600px] card shadow-none p-4 mt-5">
            <div x-data="{pages: jsonData.values ? jsonData.values : {} }">
              <template x-data="dropdown" x-if="Object.keys(pages).length >= 1">
                <div
                  x-init=""
                  x-data="{allInputFields:[],submitForm_:false}"
                  x-init="requestJson = jsonData"
                >
                  <!-- Content to be displayed if the condition is false -->
                  <div class="hidden">
                    <%- include('./../message/success.ejs') %>
                  </div>
                  <div class="hidden">
                    <%- include('./../message/error.ejs') %>
                  </div>

                  <template
                    x-for="(pageData, pageKey) in Object.entries(pages)"
                  >
                    <div
                      x-init="if(pageKey == 0) {}"
                      :id="'pageId' + pageKey"
                      :class="{ 'hidden': pageKey != 0 }"
                    >
                      <div x-init="">
                        <div class="prev_form" x-init="console.log()">
                          <div class="prev_form_ max-w-xl">
                            <div class="mt-5 space-y-4">
                              <div x-init="">
                                <!-- page header -->
                                <div><%- include('./../pageHeader.ejs') %></div>
                                <div class="hidden">
                                  <%- include('./../repliesToDoc.ejs') %>
                                </div>
                                <template
                                  x-for="(item, fieldKey) in Object.entries(pageData[1])"
                                >
                                  <div
                                    x-if="Array.isArray(item[1]) && item[1].length > 0"
                                  >
                                    <template x-if="fieldKey > 0">
                                      <template
                                        x-for="(field, fieldIndex) in item[1]"
                                        :key="fieldIndex"
                                      >
                                        <div
                                          x-data="{_keyComb:''+pageKey+''+fieldKey+'', conditionPointer: [], fieldType: field.fieldType, otherData: field.other_data, setting: field.settings, condition: field.conditions }"
                                        >
                                          <!-- Handle notification for error while submiting -->
                                          <!-- <div x-data="{ onShowNoti: () => { $notification({ text: 'An error exists in some of the form fields', variant: 'warning', position: 'center-top', duration: 3000 }) } }" x-init="onShowNoti()"></div> -->

                                          <!-- <div x-data><%- //include('./filesToField.ejs') %></div> -->
                                          <!-- handle srtting all the fields name array -->
                                          <template
                                            x-for="(field, fieldIndex) in item[1]"
                                            :key="fieldIndex"
                                          >
                                            <div
                                              x-init="allInputFields.push('field'+_keyComb);console.log('field'+_keyComb)"
                                            ></div>
                                          </template>

                                          <!-- if Text -->
                                          <div x-data>
                                            <%- include('./../text.ejs') %>
                                          </div>

                                          <!-- if Email -->
                                          <div x-data>
                                            <%- include('./../email.ejs') %>
                                          </div>

                                          <!-- if Dropdown -->
                                          <div x-data>
                                            <%- include('./../dropdown.ejs') %>
                                          </div>

                                          <!-- if File Upload -->
                                          <div x-data>
                                            <%- include('./fileUploads.ejs') %>
                                          </div>
                                        </div>
                                      </template>
                                    </template>
                                  </div>
                                </template>

                                <br />

                                <div
                                  class="relative mt-5 w-full"
                                  x-init="console.log (Object.keys(pages).length - 1) "
                                >
                                  <template x-if="pageKey > 0">
                                    <button
                                      @click="prev(pageKey)"
                                      class="bordered-button hover:text-white dark:text-blue-300 inline-flex justify-center bg-transparent border hover:bg-button focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                    >
                                      Prev
                                    </button>
                                  </template>
                                  <template
                                    x-init="console.log('fucking init'+pageData[1][0].header[0].edit_submit_field)"
                                    x-if="pageKey >= 0 && pageKey < (Object.keys(pages).length-1) "
                                  >
                                    <button
                                      @click="next(pageKey)"
                                      x-bind:class="pageKey >= 0 && pageKey < pageData.length ? 'ml-2' : '' "
                                      x-text="pageData[1][0].header[0].edit_submit_field ? pageData[1][0].header[0].edit_submit_field : 'Next'"
                                      class="bg-button inline-flex justify-center hover:bg-sim-primary focus:ring-2 focus:outline-none focus:ring-sim font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                    ></button>
                                  </template>
                                  <template
                                    x-if=" pageKey === (Object.keys(pages).length-1) "
                                  >
                                    <button
                                      @click="submitForm_()"
                                      x-bind:class="pageKey >= 0 && pageKey <pageData.length ? 'ml-2' : '' "
                                      class="bg-button inline-flex justify-center hover:bg-sim-primary focus:ring-2 focus:outline-none focus:ring-sim font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                    >
                                      Submit
                                    </button>
                                  </template>

                                  <template>
                                    <button
                                      onclick="submit()"
                                      x-text="pageData[1][0].header[0].edit_submit_field"
                                      class="hidden absolute bottom-0 inline-flex w-full justify-center bg-button hover:bg-sim-primary focus:ring-2 focus:outline-none focus:ring-sim font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                    >
                                      Submited
                                    </button>
                                  </template>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <script src="./script.js"></script>

                        <script src="../../js/upload/uploadToDrive.js"></script>
                      </div>
                    </div>
                  </template>
                </div>
              </template>
            </div>
          </div>
        </div>

        <!-- PROGRESS BAR START -->

        <div x-data="{showModal:false}" id="progress_bar_section">
          <div
            @click="showModal = true"
            id="show_progress"
            class="hidden"
          ></div>
          <div
            @click="showModal = false"
            id="close_progress"
            class="hidden"
          ></div>
          <div><%- include('./../progress.ejs') %></div>
        </div>
      </main>
    </div>

    <div id="x-teleport-target"></div>
    <script>
      window.addEventListener("DOMContentLoaded", () => Alpine.start());
    </script>
  </body>
</html>

<script src="./../script.js"></script>
<script>
  function next(e) {
    $("#pageId" + (e + 1)).removeClass("hidden");
    $("#pageId" + e).addClass("hidden");
    $("#pageId" + (e + 1)).addClass("block");
  }
  function prev(e) {
    $("#pageId" + (e - 1)).removeClass("hidden");
    $("#pageId" + (e - 1)).addClass("block");
    $("#pageId" + e).removeClass("block");
    $("#pageId" + e).addClass("hidden");
  }
</script>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("yourComponent", () => ({
      fieldKey: 0,
      files: [],
      $store: {
        firstFile: null,
      }, // $store to store global data

      initFilePond: function (fieldKey) {
        const inputElement = document.getElementById("filepond" + fieldKey);

        // Initialize FilePond
        const pond_ = FilePond.create(inputElement, {
          allowMultiple: true,
          instantUpload: true,
          allowProcess: false,
          // Other configuration options go here
        });

        // Listen for the 'addfile' event
        pond_.on("addfile", (error, file) => {
          if (!error) {
            // Store the current file in the global $store
            this.$store.firstFile = file;
            console.log(this.$store.firstFile);

            // Add the file to the files array for further processing if needed
            this.files.push(this.$store.firstFile);

            // Access this.$store.firstFile or this.files in other methods or sections
            this.complexMethod();
          } else {
            // Handle the error
            console.error("Error adding file:", error);
          }
        });
      },
    }));
  });
</script>
